<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/plugins/mobilefriendly.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/plugins/ranges.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css"/>
<link rel="stylesheet" href="/custom-litepicker.css"/>

            <span id="datePickerContainer">
              
            
                <div class="modal fade" id="modal-global-settings" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h4 class="modal-title">Global Report Options</h4>
                              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                                      aria-hidden="true">×</span></button>
                          </div>
                          <div class="modal-body">
                              <form onSubmit="return (false);">
                                  <div class="admin-field d-none">
                                      <input type="text" id="global-user-_id-edit">
                                  </div>
                                  <div class="admin-field">
                                      <label class="label" for="global-daterange-edit">Date Range</label>
                                      <div class="dropdown" id="global-daterange-edit">
            
                                          <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" id="button-global-daterange-edit"
                                              data-toggle="dropdown" data-value="" aria-haspopup="true" aria-expanded="false">
                                              Presets
                                          </button>
                                          
                                      </div>
              
                                      
                                  </div>
                              </form>
                          </div>
                          <div class="modal-footer">
                            </div>
                      </div>
                  </div>
              </div>
            </span>
            
   

<script type="text/javascript" src="/litepicker-bacnet.js"></script>

